<!-- About Container -->
<div id="about-container">
  <div class="about-img">
    <img src="asset/R.jpeg" alt="" />
    <!--679*575 -->
  </div>
  <div class="about-text mt-3">
    <h2 class="section-heading fw-bold">
      We're the link between e-waste recycling companies and eco-conscious consumers.!
    </h2>
    <p class="section-description">
      We're the link between e-waste recycling companies and eco-conscious consumers.
      Our platform connects clients with trusted recycling partners,
      streamlining the recycling process and offering rewards for sustainable choices
    </p>
    <div class="about-fe">
      <img src="asset/Delivery.jpg" alt="" />
      <div class="fe-text">
        <h5 class="section-heading fw-bold">Locate Nearest E-Bin </h5>
        <p class="section-description">
          The placement and management of bins are essential aspects of urban planning and waste management to create
          clean,
          sustainable, and aesthetically pleasing environments.
          Effective waste management systems depend on the strategic placement of bins to serve the needs of the
          community efficiently.
        </p>
      </div>
    </div>
    <div class="about-fe">
      <img src="asset/Cash Back.jpg" alt="" />
      <div class="fe-text">
        <h5 class="section-heading fw-bold">Credit Points</h5>
        <p class="section-description">
          Understanding credit points is essential for users to navigate their journey and
          plan about the E-waste, and meet their environmental goals.
          It is also a fundamental part of the education system's structure and assessment process..
        </p>
      </div>
    </div>
  </div>
</div>