<div id="FAQs" class="container">
  <h1 class="section__headline">FAQs</h1>
  <h2 class="c-faqs__headline">E-WASTE</h2>
  <ul class="c-faqs">
    <li class="c-faq c-faq--active">
      <span class="c-faq__title">What is e-waste?</span>
      <div class="c-faq__answer">
        E-waste, or electronic waste,
        refers to discarded electronic devices and electrical equipment that are no longer in use or have become
        obsolete.
        This includes items such as old computers, smartphones, televisions, and electronic appliances.
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">Why is e-waste a concern for the environment?</span>
      <div class="c-faq__answer"> E-waste contains hazardous materials like lead, mercury, cadmium, and brominated flame
        retardants. When improperly disposed of, these substances can leach into the environment, causing soil and water
        pollution. Additionally, burning e-waste releases toxic fumes into the air</div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">How should I dispose of e-waste responsibly?</span>
      <div class="c-faq__answer">
        To dispose of e-waste responsibly, you can:
        Check for e-waste recycling programs or collection centers in your area.
        Donate or sell still-functional electronics.
        Erase personal data from devices before disposal.
        Avoid throwing e-waste in regular trash bins.
      </div>
    </li>
  </ul>
  <!-- /end c-faqs -->

  <h2 class="c-faqs__headline">Benefits of Recycling E-waste</h2>
  <ul class="c-faqs">
    <li class="c-faq">
      <span class="c-faq__title">What are the environmental benefits of recycling e-waste?</span>
      <div class="c-faq__answer">
        Recycling e-waste reduces the need for mining and manufacturing of new raw materials, conserves energy, and
        minimizes the environmental impact associated with electronic device production. It also helps in preventing
        hazardous materials from contaminating the environment.
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">What are the economic incentives for e-waste recycling?</span>
      <div class="c-faq__answer">
        E-waste recycling can yield economic benefits by recovering valuable materials like metals and reducing the need
        for raw material extraction. It can also create jobs in the recycling and refurbishing industries.

      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">Are there regulations for e-waste disposal?</span>
      <div class="c-faq__answer">
        Many countries and regions have regulations in place to manage e-waste. These regulations often require proper
        disposal and recycling of electronic devices to minimize environmental and health risks. Familiarize yourself
        with your local e-waste disposal laws.
      </div>
    </li>
  </ul>
  <!-- /end c-faqs -->

  <h2 class="c-faqs__headline">Other questions</h2>
  <ul class="c-faqs">
    <li class="c-faq">
      <span class="c-faq__title">What are the components of e-waste that can be recycled?</span>
      <div class="c-faq__answer">
        Various components of e-waste can be recycled, including metals (like gold, silver, copper), plastics, glass,
        and certain rare earth elements. Recycling facilities extract these valuable materials for reuse.
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">What are the challenges of e-waste recycling?</span>
      <div class="c-faq__answer">
        E-waste recycling can be challenging due to:
        Complex and varied materials in electronic devices.
        Toxic substances that require careful handling.
        The need for proper disassembly and separation of components.
        The risk of informal and unsafe recycling practices in some regions
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">How can individuals reduce their e-waste generation?</span>
      <div class="c-faq__answer">
        To reduce e-waste, individuals can:
Extend the lifespan of their electronic devices by proper maintenance.
Consider upgrading or repairing devices instead of replacing them.
Donate or sell electronics in good condition.
Recycle old electronics at designated collection points.
    </li>
  </ul>
  <!-- /end c-faqs -->
</div>