<!-- Features -->
<div id="features">
  <div class="pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="section-head col-sm-12">
          <h4 class="section-heading"><span>Why Choose</span> Us?</h4>
          <p>
            Choose our e-commerce clothes website for a seamless shopping
            experience, personalized recommendations, and a wide range of trendy
            fashion options.
          </p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item">
            <span class="icon feature_box_col_one"><i class="fa fa-info-circle"></i></span>
            <h6 class="section-heading fw-bold">
              Comprehensive Information:
            </h6>
            <p>
              Provide comprehensive information on e-waste recycling, including what can be recycled, how to prepare
              devices for recycling, and the environmental benefits of responsible disposal.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item">
            <span class="icon feature_box_col_two"><i class="fa fa-users"></i></span>
            <h6 class="section-heading fw-bold">
              User-Friendly Interface
            </h6>
            <p>
              Ensure that your website is easy to navigate and user-friendly, making it simple for visitors to find the
              information they need and access recycling resources.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item">
            <span class="icon feature_box_col_three"><i class="fas fa-bars"></i></span>
            <h6 class="section-heading fw-bold">
              Easy Navigation and Intiative User Interface:
            </h6>
            <p>
              Make your website accessible to all users, including those with disabilities. Ensure compatibility with
              assistive technologies and provide alternative formats for content.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item">
            <span class="icon feature_box_col_four"><i class="fa-solid fa-earth-americas"></i></span>
            <h6 class="section-heading fw-bold">
              Educational Resources:
            </h6>
            <p>
              Offer educational materials, such as articles, guides, and videos, to help users understand the importance
              of e-waste recycling and how to do it correctly.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item">
            <span class="icon feature_box_col_five"><i class="fa-solid fa-tree"></i></span>
            <h6 class="section-heading fw-bold">
              Environmental Impact:
            </h6>
            <p>
              Share statistics or data on the environmental impact of e-waste recycling through your website,
              demonstrating the positive change users can make by participating.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item">
            <span class="icon feature_box_col_six"><i class="fa-solid fa-shield-halved"></i></span>
            <h6 class="section-heading fw-bold">
              Transparency
            </h6>
            <p>
              Emphasize transparency in your e-waste recycling process. Explain where the e-waste goes, how it's
              recycled, and the environmental impact of responsible disposal
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>