    <!-- Footer-->
    <footer id="footer" class="container mt-5 pt-3">
        <div class="col">
          <a
            class="navbar-brand logo"
            href="./index.html"
            style="font-family: 'Kodchasan', sans-serif"
            ><img src="asset/logo.png" style="width: 60px;" alt=""></a
          >
          <h4>Contect</h4>
          <p>
            <strong>Address: </strong>744 New York Ave, Brooklyn, Kings, New York
            10244
          </p>
          <p><strong>Phone: </strong>(+642) 245 356 432 / (+420) 336 476 328</p>
          <p><strong>Houors: </strong> 10:00 - 18:00, Mon - Sat</p>
          <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-youtube"></i>
            </div>
          </div>
        </div>
  
        <div class="col">
          <h4>About</h4>
          <a href="#">About Us</a>
          <a href="#">Delivery Information</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
          <a href="#">Contact Us</a>
        </div>
  
        <div class="col">
          <h4>My Account</h4>
          <a href="#">Sign In</a>
          <a href="#">View Cart</a>
          <a href="#">My Wishlist</a>
          <a href="#">Track My order</a>
          <a href="#">Help</a>
        </div>
  
        <div class="col install">
          <h4>Install App</h4>
          <p>From App Store or Google Play</p>
          <div class="row">
            <img src="asset/app.jpg" alt="" />
            <img src="asset/play.jpg" alt="" />
          </div>
          <p>Secured Payment Gateways</p>
          <img src="asset/pay.png" alt="" />
        </div>
  
        <div class="copyright">
          <p>© 2023, E-Waste Facility Locator</p>
        </div>
      </footer>
      <!-- JQuery -->
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"
  ></script>
  <script>
    ScrollReveal({ 
      //reset: true,
      distance: '60px',
      duration: 2500,
      delay: 400
  });
  //target elements, and specify options to create reveal animation
  ScrollReveal().reveal('.banner-left-info, .about-img', { delay: 500, origin: 'left' });
  ScrollReveal().reveal('.banner-img, .about-text', { delay: 700, origin: 'right' });
  ScrollReveal().reveal('.section-head', { delay: 500, origin: 'top' });
  ScrollReveal().reveal('.item', { delay: 500, origin: 'bottom', interval: 200 });
  ScrollReveal().reveal('.c-faq__title', { delay: 500, origin: 'left', interval: 200 });
  ScrollReveal().reveal('.c-faqs__headline', { delay: 500, origin: 'top', interval: 200 });
  ScrollReveal().reveal('.navigation a', { delay: 500, origin: 'bottom', interval: 200 });
  ScrollReveal().reveal('#test', { delay: 500, origin: 'left', interval: 200 });
  </script>
</body>
</html>