<!-- testimonial -->
<div class="testimonial">
  <div class="container">
    <div class="d-flex-inline justify-content-center align-content-center text-center mb-4">
      <h2 class="section-heading">What People <span>Says?</span></h2>
      <p class="section-description">

      </p>
    </div>

    <div class="accordion d-flex justify-content-center align-items-center" id="accordionExample">
      <div class="row">
        <div class="col-md-6">
          <div class="p-3">
            <ul class="testimonial-list">
              <li>
                <div id="test" class="card p-3" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  <div class="d-flex flex-row align-items-center">
                    <img src="https://picsum.photos/200?grayscale" width="50" class="rounded-circle" />

                    <div class="d-flex flex-column ml-2">
                      <span class="font-weight-normal">Bhupendra Jogi</span>
                      <span>Tourist</span>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div id="test" class="card p-3" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
                  <div class="d-flex flex-row align-items-center">
                    <img src="https://picsum.photos/200?Animal" width="50" class="rounded-circle" />

                    <div class="d-flex flex-column ml-2">
                      <span class="font-weight-normal">Jethalal Gada</span>
                      <span>Businessmen</span>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div id="test" class="card p-3" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                  aria-controls="collapseThree">
                  <div class="d-flex flex-row align-items-center">
                    <img src="https://picsum.photos/200?robot" width="50" class="rounded-circle" />

                    <div class="d-flex flex-column ml-2">
                      <span class="font-weight-normal">Mahendra Bahubali</span>
                      <span>Soldier</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6">
          <div class="p-3 testimonials-margin">
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <h4>It was a great experience</h4>
                <div class="ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>

                <p>
                  "I appreciate the convenient drop-off locations for e-waste recycling. It makes it easy for me to
                  dispose of old electronics responsibly."<br>
                  "The new e-waste collection center in our neighborhood is a great addition. It's much more accessible
                  than before."
                </p>
              </div>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <h4>Thanks for this great service</h4>
                <div class="ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>

                <p>
                  "The recycling center provided clear instructions on how to prepare my devices for recycling. It was
                  very helpful."<br>
                  "I found the website's information on what can and cannot be recycled quite informative. It helped me
                  sort my e-waste properly."
                </p>
              </div>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <h4>You all are awesome thanks alot</h4>
                <div class="ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>

                <p>
                  "I appreciate that they share information about where the e-waste goes and how it's processed.
                  Transparency is essential."<br>
                  "Knowing that my old electronics are being recycled responsibly gives me peace of mind."
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>